* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
}

#main {
    width: 100%;
    height: 100%;
    background-color: #F8F8F8;
    position: relative;
    padding-top: 1px;

    #nav {
        height: 11vh;
        width: 100%;
        margin-top: 20px;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            height: 100%;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: monument;
            font-size: 40px;
            letter-spacing: -1px;
            position: relative;

        }

        h2 {
            height: 100%;
            width: 22%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-right: 2px solid #000;
            font-size: 22px;
            font-weight: 500;

        }
        h3{
            display: none;
        }
        h1::after{
            content: "©️";
            font-weight: 300;
            font-size: 18px;
            position: absolute;
            top: 15%;
            right: 3%;

        
        }
        h1::before{
            content: "model management";
            letter-spacing: 1px;
            color: #666;
            font-weight: 300;
            font-size: 8px;
            position: absolute;
            bottom: 10%;
            right: 6%;
        }

        :nth-last-child(2) {
            width: 26%;

        }

        :nth-last-child(1) {
            width: 10%;

        }
    }


    #center {
        height: 90%;
        width: 100%;
        padding: 3vw;
        position: relative;

        #content {
            height: 100%;
            width: 100%;
            position: relative;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            #overlay {
                width: 100%;
                height: 53%;
                position: absolute;
                bottom: 0;
                padding: 4vw;
                color: #fff;

                #over1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 2vw;

                    h1 {
                        font-family: monument;
                        font-size: 3vw;
                    }

                    h2 {
                        font-size: 1vw;
                        padding: 2vw 2.2vw;
                        border: 1px solid #fff;
                        border-radius: 50%;

                    }
                }

                #over2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 2px solid #fff;
                    padding: 1.5vw 0;

                    h4 {
                        font-size: 1.5vw;
                        font-weight: 500;
                    }

                    img {
                        height: 3vw;
                    }
                }
            }
        }
    }

    #scroll{
        height: 40vh;
        width: 100%;
        white-space: nowrap;
        overflow-x:hidden;
        overflow-y: hidden;
        // background-color: #F8F8F8;

        #container{
            width: 100%;
            height: 100%;
            display: inline-block;
            animation-name: anime;
            animation-duration: 12s; 
            animation-timing-function: linear;
            animation-iteration-count: infinite;          

        img{
            height: 80%;
            width: 14%;
            object-fit: cover;
            object-position: 30% 30%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
         }
      }
    }

    #alphabet{
    height: 11vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    h5{
        font-size: 1.7vw;
        text-transform: uppercase;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 4px;
        margin-right: 1vw;
        border-bottom: 2px solid #000;
    }
  
  h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.4vw 0.6vw;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.2s;
    border: 1px solid #00000000;
}
    h6:hover{
        border:1px solid #000;

    }

    }

    #page2{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vw 5vw;

        #page2-part1{
            width: 50%;
            height: 100%;
            background-image: url(https://plus.unsplash.com/premium_photo-1687186954188-76f7f4a3d829?q=80&w=1372&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
            background-position: center;
            background-size: cover;
            
        }
        #page2-part2{
            height: 100%;
            width: 45%;
            img{
                width: 100%;
                height: 70%;
                object-fit: cover;
                object-position: center;

            }
        
        }
    }
    #page3{
        height: 100%;
        width: 100%;
        position: relative;

        padding: 5vw 4vw;

        >h1{
            text-align: center;
            font-family: monument;
            text-transform: uppercase;
            font-size: 3vw;
            margin-bottom: 7vh;
            // font-weight: 300;
        }

        .elem{
            height: 15vh;
            width: 100%;
            border-top: 2px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 2vw;
            position: relative;
            
            img{
                height: 80px;
                width: 80px;
                position: absolute;
                border-radius: 50%;
                left: 12%;
                opacity: 0;
                transition: all ease 0.7s;
                object-fit: cover;
                object-position: top;
               
}
          
            h4{
                font-size: 1.2vw;
                text-transform: uppercase;
                font-weight: 500;
                width: 6%;

            }
            .elem-part2{
                width: 45%;

                h1{
                    font-size: 2.6vw;
                    font-weight: 500;
                }
                h5{
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: 1vw;
                }
            }
        }
        .elem:nth-last-child(1) img{
            left: 30%;
        }
        .elem:nth-last-child(3) img{
            left: 40%;
        }
        .elem:hover img{
            opacity: 1;
            left: 24%;
           }
        .elem:nth-last-child(1){
            border-bottom: 2px solid #000;
        }
       
    }

    #marqueue{
        // height: 15vh;
        width: 100%;
        // background-color: red;
        padding: 0.8vw;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        border-top: 2px solid #000;
        border-bottom:2px solid  #000;
        h1{
            display: inline-block;
            font-size: 2.5vw;
            text-transform: uppercase;
            font-weight: 900;
            -webkit-text-stroke: 1px black;
            color: transparent;
            letter-spacing: 3px;
            font-family: monument;
            margin-right: 16px;
            animation-name: move;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
}

    }

    #footer{
        width: 100%;
        height: 100%;

      
    }


}


@keyframes anime{
    from{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
to{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}
}

@keyframes move {
    from{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
to{
    transform: translateX(calc(-100% - 20px));
    -webkit-transform: translateX(calc(-100% - 20px));
    -moz-transform: translateX(calc(-100% - 20px));
    -ms-transform: translateX(calc(-100% - 20px));
    -o-transform: translateX(calc(-100% - 20px));
}
}



@media (max-width:600px) {
    body{
        overflow-x: hidden;

    #main{
    #nav {
        height: 8vh;
        margin-top: 20px;
        padding: 0 5vw;

        h1 {
            width: 40%;
            justify-content: flex-start;
            font-size: 25px;

        }

        h2 {
            display: none;
           

        }
        h3{
            display: block;
        }
        h1::after{
           
            display: none;

        
        }
        h1::before{
           display: none;
        }

    }

    #center {
        height: 50%;
        width: 100%;
        padding: 3vw;
        position: relative;

        #content {
            height: 100%;
            width: 100%;
            position: relative;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            #overlay {
                width: 100%;
                height: fit-content;
                position: absolute;
                bottom: 0;
                padding: 4vw;
                color: #fff;

                #over1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 2vw;

                    h1 {
                        font-family: monument;
                        font-size: 5.6vw;
                        font-weight: 100;
                    }

                    h2 {
                        font-size: 2vw;
                        padding: 3vw 3.2vw;
                        border: 1px solid #fff;
                        border-radius: 50%;

                    }
                }

                #over2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-top: 2px solid #fff;
                    padding: 1.5vw 0;

                    h4 {
                        font-size: 3.5vw;
                        font-weight: 500;
                    }

                    img {
                        height: 5vw;
                    }
                }
            }
        }
    }
    #scroll{
        height: 20vh;
        width: 100%;
        white-space: nowrap;
        overflow-x:hidden;
        overflow-y: hidden;
        // background-color: #F8F8F8;

        #container{
            width: 200%;
            height: 100%;
            display: inline-block;
            animation-name: anime;
            animation-duration: 12s; 
            animation-timing-function: linear;
            animation-iteration-count: infinite;          

        img{
            height: 80%;
            width: 12%;
            object-fit: cover;
            object-position: 30% 30%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
         }
      }
    }
    #alphabet{
        height: 8vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        overflow: hidden;
    
        h5{
            font-size: 0.7vw;
            text-transform: uppercase;
            font-weight: 400;
            font-style: italic;
            letter-spacing: 4px;
            margin-right: 1vw;
            border-bottom: 2px solid #000;
        }
      
      h6{
        font-size: 0.5vw;
        text-transform: uppercase;
        font-weight: 400;
        font-style: italic;
        letter-spacing: 4px;
        padding: 0.4vw 0.6vw;
        border-radius: 50%;
        cursor: pointer;
        transition: all ease 0.2s;
        border: 1px solid #00000000;
    }
        h6:hover{
            border:1px solid #000;
    
        }
    
        }


    
}
}
}